<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="icon" href="favicon.png" type="image/png">
	<title>My company, your technology</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="java.js"></script>
</head>

<body>	
	<div>
		<img class="logo" href="/index" src="logo.png" alt="Logo">
	</div>
	
	<div id="top" class="container-fluid">
		<a title="Home" id="imgHome" class="fas" href="/index" style="font-size:24px">&#xf015;</a>
		<a href="/index">Home</a>
		<a href="/produse">Produse</a>
		<a href="/promotii">Promotii</a>
		<a href="/recenzii">Recenzii</a>
		<section class="float-right">	
			<a title="admin" id="admin" class="fas" href="/admin" style="font-size:24px;">&#xf505;</a>
		</section>
		<a class="float-right" href="/cosul_meu">Cosul meu</a>
	</div>