<% include partials/header %>
<div id="spatiu">
	<a href="/management" type="button" class="btn btn-primary btn-lg btn-block">Management produse</a>
	<a href="/istoric" type="button" class="btn btn-primary btn-lg btn-block">Istoric comenzi</a>
	<a href="/listrecenzii" type="button" class="btn btn-primary btn-lg btn-block">Listare recenzii</a>
	<a href="/logout" type="button" class="btn btn-primary btn-lg btn-block">Log out</a>
</div>
<% include partials/footer %>
