<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/style_cos.css">

<section class="container content-section">
		<form action="/det" method="POST">
				<h3>Va rugam completati datele pentru facturare:</h3>

					<label>Nume:</label>
					<input class="form-control img1" type="text" name="nmmm"/><br/>
				
					<label>Prenume:</label>
					<input class="form-control img1" type="text" name="nmmm"/><br/>
				
					<label>Localitate:</label>
					<input class="form-control img1" type="text" name="nmmm"/><br/>
				
					<label>Adresa completa:</label>
					<input class="form-control img1" type="text" name="nmmm"/><br/>
				
					<label>Numar de telefon:</label>
					<input class="form-control img1" type="text" name="nmmm"/><br/>
				



            <button class="btn btn-primary">COMANDA</button>
		</form>
</section>


<% include partials/footer %>
