
body {
	background-color: #ffffff;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#top {
	background-color: #000066;
	position: relative;
	z-index: 10;
	padding-left: 15%;
	padding-right: 15%;
}

#top a{
	padding: 15px;
	color: #d9d9d9;
	text-decoration: none;
}

#top a:hover{
	color: #ffffff;
	text-decoration: none;
}

#admin {
	padding: 15px;
	color: #d9d9d9;
	text-decoration: none;
}

#admin:hover{
	color: #ffffff;
	text-decoration: none;
}

#myCarousel{
	overflow: hidden;
	position: relevant;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
 }
 
 #produse {
	 width:80%;
	 float:right;
 }
 
 #grila_produse {
	 width:20%;
	 float: left;
	 

 }

#grila_produse: li a {
	 text-decoration: none;
}

#spatiu {
	padding-top:5%;
	padding-left:15%;
	padding-right: 15%;

}
 
 #doar4 {
	 width: 25%;
	 height:100%;
 }
 
 .col {
	 height:100%;
 }
 
 #specificatii {
		border-top: 1px solid gray;
 }
 
 #pret {
	 border-radius: 5px;
	 border:1px solid red;
	 color: red;
	 padding: 8px;
	 margin-top:20px;
 }
 
 #detalii {
	 width: 100%;
	 text-align: left;
 }
 
 #detalii2 {
	 width: 100%;
	 text-align: center;
	 padding-top: 15px;
 }
 
 #asezare {
	 column-count: 2;
 }
 
 
  #pret2 {
	 border-radius: 5px;
	 border:1px solid red;
	 color: red;
	 padding: 15px;
	 margin-top:50px;
	 font-size: 50px;
 }
 
 #adauga {
	 font-size:  50px;
 }
 
 
 .dropbtn {
  background-color: #000066;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width:90%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000066;
}

#savedem {
	background-color: red;
}

#savedem2 {
	text-align: center:

}

#doar1 {
	width: 100%;
}
 
 
 
 
 